{% extends 'base.html' %} {% block content %}
<div>
  <h1>Login</h1>
  <form method="post">
    <!-- {% csrf_token %} {{ form.as_p }} -->
    <input type="text" placeholder="Enter Username" name="username" />
    <input type="password" placeholder="Enter Password" name="password" />
    <button type="submit">Login</button>
  </form>
</div>
{% endblock content %}
