{% extends 'base.html' %} {% block content %}
<div>
  <h1>Signup</h1>
  <form method="post">
    <input type="text" placeholder="Enter Username" name="username" />
    <input type="password" placeholder="Enter Password 1" name="password1" />
    <input type="password" placeholder="Enter Password 2" name="password2" />
    <button type="submit">Signup</button>
  </form>
</div>
{% endblock content %}
